body {
    background-color: rgb(251, 251, 250);
    color: rgb(55, 53, 47);
    font-family: "Segoe UI", 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid rgb(55, 53, 47);
    margin: 1em 0;
    padding: 0;
}

.title-container{
    overflow: auto;
}

.title-container img {
    float: left;
    height: 35px;
    width: auto;
    margin: 5px 15px 5px auto;
}

.title-container h1 {
    float: left;
    margin: auto auto 5px auto;
}

header > p {
    display: inline-block;
    margin: auto auto auto 45px;
}

nav {
    float: right;
    margin: auto 20px auto auto;
}

nav > a {
    color: inherit;
    text-decoration: none;
    font-size: 20px;
}

nav > a:hover {
    color: rgb(108, 117, 125);
}

.skill-tags {
    font-weight: 700;
}

.section-title {
    text-decoration: underline;
}

h3 {
    margin: auto auto 0px auto;
}

.project-section h3 {
    display: inline-block;
}

.project-section a {
    color: inherit;
    margin: auto auto auto 45px;
    font-weight: 475;
} 

.project-section a:hover {
    color: rgb(108, 117, 125);
}

ul {
    margin: 10px auto 15px auto;
}

/* input[type="text"],
input[type="email"] {
    width: 85%;
    height: 40px;
    padding: 5px;
    font-size: 16px;
}

textarea {
    width: 85%;
    height: 100px;
    padding: 5px;
    font-size: 16px;
} */